<div class="avatar-col">
    <table>
      <tr>  
        <td><%= image_tag current_user.img, class: "avatar-pic" %></td>
        <td><strong class="avatar-name"><%= current_user.name %></strong></br>
        <div class="avatar-handlename">@<%= current_user.handlename%></div></br>
        <button id="editProfile" class="edit-profile-btn">Edit Profile</button></td>
      </tr>
    </table>
  </div>