<div class="trending-col">
  
  <h5 class="trending-col-header"><strong>Trending on Twitta-Sphere</strong></h5>
    <% counter = 0 %>
    <% @trending.each do |t| %>
    
      <p class="trending-col-k"><strong><%= t.hashtag %></strong></p>
      <p class="trending-col-v"><%= @trend_count[counter] %> Tweets</p>
    
    <% counter += 1 %>
    
    <% end %>

</div>