// Place all the styles related to the Reply controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form-replies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 }
 
 .row-replies{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
 }
 
 .reply-tweet-user-p{
  display: flex;
  text-align: left;
  width: 80%;
  padding: 0.5em;
 }
 
 .reply-tweet-user-avatar{
  width: 80px;
 }